body {
    color: #444;
    font-family: "Helvetica-Light","PT Serif", serif;
    text-align: justify;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
  font-weight: normal;
  color: #333;
}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 740px;
  }
}


/*
 * Masthead for nav
 */

.blog-masthead {
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}


/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 15px;
  line-height: 1.5;
}
blockquote{
  font-size: 15px;
}
/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 35px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
  text-align: right;
}


/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}


.sidenote{
  position:absolute;
  left: calc(100% + 15px);
  width: 270px;
  margin-top: -30px;
  font-size: 13px;
  color: #aaa;
  font-family: "Helvetica";
}

.figure{
  margin: 15px 0 30px 0;
}
.figure img{
  width:100%;
}
.figure .caption{
  margin-top:15px;
  text-align: center;
  color: #aaa;
}
